# Настройки облачного провайдера
cloud_id  = "cloud.id.from.top.of.control.panel"
folder_id = "folder.id.from.top.of.control.panel"
zone      = "ru-central1-a"
image_id  = "image.id"
ssh_public_key = "path.to.key.pub"

# Подставьте сюда значения для развёртываемого окружения
app_vm_cores      = 2
app_vm_memory     = 4
app_disk_size     = 20
db_vm_cores       = 4
db_vm_memory      = 8
db_disk_size      = 30
db_data_disk_size = 100
